/* Принудительно включённая тёмная тема */

:root.theme-dark {
  --page-background-color: #000028;
  --page-background-image: url("../images/cover-image-dark.png");
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --title-color: #db00ff;
  --section-title-color: #ff0070;
  --interactive-color: #ff0070;
  --interactive-hover-color: rgb(255 0 112 / 0.4);
  --link-shadow-color: #ff0070;
  --rec-display: flex;
}