:root{
  --main-font:"IBM Plex Mono", monospace;
  --main-font-size: 18px;
  --line-height: 1.3;

  --page-bg-color:#000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-text-color:#000028;
  --title-color:#db00ff;
  --section-title-color:#ff0070;
  --button-color:#ff0070;
  --button-hover-color:rgb(255 0 112 / 0.4);
  --link-shadow-color:#ff0070;
  --rec-display: flex;

  --page-bg-image: url(https: //raw.githubusercontent.com/yandex-praktikum/slozhno-sosredotochitsya-fd/main/images/cover-image-dark.png);

}